/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$primary : rgb(38, 39, 97);
$light :  #f3f3f3;
$dark:#0f0f2b;

.text-primary{
color:$primary;
}
.light{
    color:$light;
}

//bg
.bg-primary{
    background-color: $primary;
}

//nav
.navbar-inverse{
    color:$light;
    background-color: $dark;
    .navbar-brand{
        padding:2vh 2vw;
    }
}
.self-end{
    margin-right:5vw !important;
    margin: right 0 !important;;
}